# Day 30: Most Repeated Name

Write a function called **repeated_name** that finds the most repeated name in the following list.

**name = ['John', 'Peter', 'John', 'Peter', 'Jones', 'Peter']**

# Día 30: Nombre más repetido
Escribe una función llamada **repeated_name** que encuentre el nombre más repetido en la siguiente lista

**name = ['John', 'Peter', 'John', 'Peter', 'Jones', 'Peter']**

In [35]:
def repeated_name(name_list):
    count = {}
    
    for element in name:
        if element in count:
            count[element] += 1
        else:
            count[element] = 1
    print(f'The most repeated name is {max(count)}, it appears {count[max(count)]} times')

In [36]:
name = ['John', 'Peter', 'John', 'Peter', 'Jones', 'Peter']
repeated_name(name)

The most repeated name is Peter, it appears 3 times

## Extra Challenge: Sort by Last Name

b. Your work for a local school in your area. The school has a list of names of students saved in a list. The school has asked you to write a program that takes a list of names and sorts them alphabetically. the names should be sorted by last names. Here is a list of names:

**['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown', 'Tom Cruise']**

Your code should not just sort them alphabetically, but it should also switch the names (the last name must be the first). Here is how your code output should look:

**['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']**

Write a function called **sorted_names**.

## Desafío Extra: Ordenar por Apellido

b. Trabajas para una escuela local en tu área. La escuela tiene una lista de nombres de estudiantes guardados en una lista. La escuela te ha pedido que escribas un programa que tome una lista de nombres y los ordene alfabéticamente. Los nombres deben ordenarse por apellido. Aquí tienes una lista de nombres:

**['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown', 'Tom Cruise']**

Tu código no solo debe ordenarlos alfabéticamente, sino que también debe intercambiar los nombres (el apellido debe aparecer primero). Aquí está el resultado esperado:

**['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']**

Escribe una función llamada **sorted_names**.

## Version 1

In [105]:
def sorted_names(list_of_names):
    last_names_first = []
    for students in list_of_names:
        student = students.split()
        lastname_first = student[1]+' '+student[0]
        last_names_first.append(lastname_first)
    return sorted(last_names_first)

In [106]:
sorted_names(['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown', 'Tom Cruise'])

['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']

## Version 2

In [114]:
def sorted_names(list_of_names):
    lastname_first = [f'{student.split()[1]} {student.split()[0]}' for student in list_of_names]
    lastname_first_sorted = sorted(lastname_first)
    return lastname_first_sorted

In [115]:
sorted_names(['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown', 'Tom Cruise'])

['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']