# Day 14: Flatten the List

Write a function called **flat_list** that takes one argument, a nested list. The function converts the nested list into a one-dimension list. For example **[[2,4,5,6]]** should return **[2,4,5,6]**.

# Día 14: Aplanar la lista

Escribe una función llamada **flat_list** que tome un argumento, una lista anidada. La función convierte la lista anidada en una lista unidimensional. Por ejemplo, **[[2,4,5,6]]** debería devolver **[2,4,5,6]**.

In [9]:
nested_list = [[2,4,5,6]]

In [10]:
nested_list

[[2, 4, 5, 6]]

## Version 1

In [11]:
def flat_list(a):
    new_list = []
    for i in a:
        new_list = i
    return new_list

In [12]:
flat_list(nested_list)

[2, 4, 5, 6]

## Version 2

In [21]:
def flat_list(a):
    return [item for i in nested_list for item in i]

In [22]:
flat_list(nested_list)

[2, 4, 5, 6]

## Extra Challenge: Teacher's Salary

b. A school has asked you to write a program that will calculate teachers' salaries. The program should ask the user to enter the teacher's **name**, the **number of periods** taught in a month, and the **rate** per period. The monthly salary is calculated by multiplying the **number of periods** by the **monthly rate**. The current monthly rate per period is **\$20**. If a teacher has more than 100 periods in a month, everything above 100 is overtime. Overtime is **\$25** per period. For example, if a teacher has taught **105** periods, their monthly gross salary should be **2,125**. Write a function called **your_salary** that calculates a teacher's gross salary. The function should return the **teacher's name, periods taught**, and **gross salary**. Here is how you should format your output:

Teacher: John Kelly,  
Periods: 105  
Gross salary: 2,125

## Desafío Extra: Salario del Profesor

b. Una escuela te ha pedido que escribas un programa que calcule los salarios de los profesores. El programa debe pedir al usuario que ingrese el **nombre** del profesor, el **número de períodos** enseñados en un mes y la **tarifa** por período. El salario mensual se calcula multiplicando el **número de períodos** por la **tarifa mensual**. La tarifa actual por período es de **\$20**. Si un profesor tiene más de 100 períodos en un mes, todo lo que supere los 100 períodos se considera horas extra. Las horas extra se pagan a **\$25** por período. Por ejemplo, si un profesor ha enseñado **105 períodos**, su salario bruto mensual debería ser **$2,125**. Escribe una función llamada **your_salary** que calcule el salario bruto de un profesor. La función debe devolver el **nombre del profesor**, **los períodos enseñados** y **el salario bruto**. Formato de salida esperado:

Profesor: John Kelly,  
Períodos: 105  
Salario bruto: 2,125

In [62]:
def your_salary():
    while True:
        try:
            teacher_name = input('Please enter the teacher\'s name: ')
            number_of_periods = int(input('Please enter the number of periods taught in a month: '))
            rate_per_period = float(input('Please enter the rate per period: '))
            break
        except ValueError:
            print('''Invalid input, please try again.
                  Teacher's name = letters only
                  Number of periods = whole number
                  Rate per period = integer or float''')
    if number_of_periods <= 100:
        monthly_rate = (number_of_periods * rate_per_period)
    else:
        rate_overtime_per_period = float(input('Please enter the rate per overtime period'))
        monthly_rate = (100 * rate_per_period) + ((number_of_periods - 100) * rate_overtime_per_period)
    print(f'Profesor: {teacher_name},\nPeriods: {number_of_periods}\nGross salary: {monthly_rate:,}')

In [63]:
your_salary()

Please enter the teacher's name:  John Kelly
Please enter the number of periods taught in a month:  105
Please enter the rate per period:  20
Please enter the rate per overtime period 25

Profesor: John Kelly,
Periods: 105
Gross salary: 2,125.0

In [64]:
your_salary()

Please enter the teacher's name:  David Brown
Please enter the number of periods taught in a month:  50
Please enter the rate per period:  30.5

Profesor: David Brown,
Periods: 50
Gross salary: 1,525.0

In [65]:
your_salary()

Please enter the teacher's name:  Laura Smith
Please enter the number of periods taught in a month:  dfg

Invalid input, please try again.
                  Teacher's name = letters only
                  Number of periods = whole number
                  Rate per period = integer or float

Please enter the teacher's name:  Laura Smith
Please enter the number of periods taught in a month:  112
Please enter the rate per period:  25
Please enter the rate per overtime period 30

Profesor: Laura Smith,
Periods: 112
Gross salary: 2,860.0